---
title: Home
layout: default
---

<section class="hero section--primary">
	<div class="main__wrapper">
		<div class="hero__badge">
			{% include lgo-odesigners.svg %}
		</div>
		<div class="hero__content">
			<h1>Orlando Designers</h1>
			<p>
				A Slack community of designers, cultivators, artists, and creators from the Orlando area.
			</p>
			<a href="https://join.slack.com/t/orlandodesigners/shared_invite/zt-iywtgtvr-GV03BIgIdiize~r5s_uFxg" class="button button--primary">
				Join The Community
			</a>
			<a href="https://orlandodesigners.slack.com" class=" button button__link link--invert">
				Or Login
			</a>
		</div>
	</div>
</section>

{% for post in site.posts %}
	<a href="{{post.url}}">
		{% for category in post.categories %}
			{% if category == 'spotlight' %}
				{{ category | capitalize }}:
			{% endif %}
		{% endfor %}
		{{post.title}}</a>
{% endfor %}

<section>
	<div class="main__wrapper">
		<h2>A Few of Our Slack Channels</h2>
		<div class="l__half">
			<h3><a href="https://orlandodesigners.slack.com/messages/intros/">#intros</a></h3>
			<p>
				This is where newbies can introduce themselves and meet members of the community.
			</p>
		</div>
		<div class="l__half">
			<h3><a href="https://orlandodesigners.slack.com/messages/jobs/">#jobs</a></h3>
			<p>
				Need to make some moola? Browse local job postings that range from freelance projects to full-time gigs.
			</p>
		</div>
		<div class="l__half">
			<h3><a href="https://orlandodesigners.slack.com/messages/feedback/">#feedback</a></h3>
			<p>
				Got a work in progress? Throw it in here, get constructive feedback, and make it the most dope creation you’ve ever...created.
			</p>
		</div>
		<div class="l__half">
			<h3><a href="https://orlandodesigners.slack.com/messages/random/">#random</a></h3>
			<p>
				Yep, totally random. Gifs of kittens, funny cat videos, or theories about quantum physics and dark matter are all fair game.
			</p>
		</div>
		<div class="l__half">
			<h3><a href="https://orlandodesigners.slack.com/messages/design_typography/">#design_typography</a></h3>
			<p>
				Do you notice terrible kerning in the wild? Are you a Helvetica fanboy (or fangirl)? You’ll definitely wanna nerd out in this channel.
			</p>
		</div>
		<div class="l__half">
			<h3><a href="https://orlandodesigners.slack.com/messages/general/">#design_[yourtopichere]</a></h3>
			<p>
				There’s a lot more where that came from. Recommend a design related channel topic for some healthy conversation.
			</p>
		</div>
		<h2>Our Slack Sidebar Theme</h2>
			<div class="form__group">
				<input id="theme" type="text" class="form__input form__input--secondary form__input--full" value="#51394C, #FF715B ,#FF715B ,#FFFFFF ,#FF715B ,#FFFFFF ,#FF715B ,#FF715B">
				<button id="copyTheme" class="button button--secondary button--inline" data-clipboard-target="#theme">Copy</button>
			</div>
			<p>
				Copy this code &amp; open Slack > Preferences > Sidebar Theme. Paste the code at the bottom of that page. View <a href="https://get.slack.help/hc/en-us/articles/205166337-Customizing-your-Slack-theme">slack documentation</a> for more help.
			</p>
	</div>
</section>

<section class="section--secondary">
	<div class="main__wrapper">
		<h2>Upcoming Events in <nobr>O-Town</nobr></h2>

		{% assign sorted_events = site.events | sort: 'start_date' %}
		{% for event in sorted_events %}

		{% capture nowunix %}{{ 'now' | date: '%s'}}{% endcapture %}
		{% capture eventtime %}{{ event.start_date | date: '%s'}}{% endcapture %}

			{% if eventtime > nowunix %}
				{% capture event_count %}{% increment x %}{% endcapture %}

				<div class="l__half">
					<h3 class="with__lead" itemprop="name">{{ event.title }}</h3>
					<h4>
						{% assign endday = event.end_date | date: '%F' %}
						{% assign startday = event.start_date | date: '%F' %}
						{% unless endday == '' or endday == startday %}
							<time datetime="{{event.start_date}}">
								{{ event.start_date | date: "%B %-d"}}</time>-
							<time datetime="{{event.end_date}}">
								{{ event.end_date | date: "%-d %Y" }}</time>
						{% else %}
							<time datetime="{{event.start_date}}">
								{{ event.start_date | date: "%B %-d, %Y" }}</time>
						{% endunless %}
					</h4>
						<p>
							{{ event.content }}
						</p>
					<a href="{{ event.url }}" class="button button--secondary">More Information</a>
				</div>
			{% endif %}

		{% endfor %}

		{% if event_count == nil %}
			<div class="l__half">
				<h3 class="with__lead">Oh no! No events?</h3>
				<h4>It appears no events have been announced.</h4>
				<p>
					Check back later to see if anything comes up or have faith and keep hitting refresh.
				</p>
			</div>
		{% endif %}

	</div>
</section>

<section>
	<div class="main__wrapper">
		<h2>Meetups That We Dig</h2>

		{% for meetup in site.meetups %}
			{% unless meetup.published == false %}
			<div class="l__half">
				<h3><a href="{{meetup.link}}">{{meetup.title}}</a></h3>
				<p>{{meetup.content}}</p>
			</div>
			{% endunless %}
		{% endfor %}

	</div>
</section>

<section class="section--primary">
	<div class="main__wrapper">
		<div class="l__half">
			<h2 class="with__lead">Why We Exist</h2>
			<h4>
				&amp; the meaning of life
			</h4>
			<p>
				Orlando Designers Slack was created to foster the design community in Orlando. We encourage sharing your knowledge, asking questions, forming relationships and a general ambition to strengthen the community.
			</p>
		</div>
		<div class="l__half">
			<h2 class="with__lead">Code of Conduct</h2>
			<h4>Basically, don't be a <nobr>butt-head</nobr></h4>
			<p>
				It’s best practice to not call people <nobr>butt-head</nobr> (sorry about that). Orlando Designers Slack is a harassment free space. We do not tolerate harassment of any kind.
			</p>
			<p>
				<strong><a href="{{ site.baseurl }}/code-of-conduct/" class="link--invert">Read the Code</a></strong>
			</p>
		</div>
	</div>
</section>
