{% if page.title == 'Home' %}
	{% assign type = 'primary' %}
	{% else %}
	{% assign type = 'secondary' %}
{% endif %}

<header class="section--{{type}}" role="banner">
	<div class="header__wrapper">
		<a href="{{ site.baseurl }}/" class="brand__header">
			<span class="sr-only">Orlando Designers</span>
		{% unless page.title == 'Home' %}
			{% include lgo-odesigners-small.svg %}
		{% endunless %}
		</a>
		<nav>
				<a class="button link--invert" href="{{ site.baseurl }}/posts/">Posts</a>
			{% unless page.title == 'Jobs' %}
				<a class="button link--invert" href="{{ site.baseurl }}/jobs/">Jobs</a>
			{% else %}
				<a class="button button--secondary" href="{{site.baseurl}}/post-a-job/">Post a Job</a>
			{% endunless %}
		</nav>
	</div>
</header>
