<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title and page.title != 'Home' %}{{ page.title | escape }} | {{site.title | escape}}{% else %}
		{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="{% if page.tags %}{{page.tags | join: ', '}}{% endif%}">

	<!-- DNS Prefetch -->
	 <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.ico">
	 <link rel="mask-icon" href="{{ site.baseurl }}/images/pinned-orange.svg" color="#F3715D">
	<!-- Styles -->
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Work+Sans:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

	<meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
	<meta property="og:image" content="https://orlandodesigners.info/uploads/social-card.png">
	<meta property="og:description" content="A Slack community of designers, cultivators, artists, and creators from the Orlando area.">
	<meta property="og:url" content="https://orlandodesigners.info">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="{{ site.twitter_username }}">
	<meta name="twitter:domain" content="{{ site.url }}">
	<meta name="twitter:creator" content="{{ site.twitter_username }}">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">

	{% include analytics.html %}

</head>

