.hero {
	position: relative;
	padding: 40px 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	@media (min-width: 768px) {
		padding: 110px 0;
	}
}

.hero--full {
	height: 100vh;
}

.hero__badge {
	align-self: center;
	width: 40%;
	margin: 0 auto;
	@media (min-width: 768px) {
		margin: 0;
	}
}

.hero__content {
	align-self: center;
	width: 100%;
	text-align: center;
	@media (min-width: 768px) {
		width: 50%;
		text-align: left;
	}
	h1 {
		margin-top: 0;
	}
}

.hero__content--left {
	width: 50%;
}

.hero__media--right {
	// position: absolute;
	width: 50%;
	right: 0;
	bottom: -40px;
	// top: -2em;
	@media (min-width: 768px) {
		bottom: -100px;
	}
}

.hero__title {
	margin: 0;
	font-size: 6em;
}
