.main__container {
	min-height: 88vh;
}

.main__wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 940px;
	margin: 0 auto;
	padding: 0 4%;
	/* @media (min-width 768px) {
		padding: 0;
	} */
}

.header__wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 4%;
	nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	/* @media (min-width 768px) {
		padding: 0;
	} */
}

.post__wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 4%;
	/* @media (min-width 768px) {
		padding: 0;
	} */
}

.center__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.l__row {
	width: 100%;
}

.l__half {
	@media (min-width: 768px) {
		width: 45%;
	}
}

.l__third {
	@media (min-width: 768px) {
		width: 28%;
	}
}
