// .main__container {
// 	display: flex;
// 	flex-flow: row wrap;
// 	justify-content: space-around;
// 	// max-width: 1600px;
// 	margin: 0 auto;
// }

.main__wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 940px;
	margin: 0 auto;
	padding: 0 4%;
	@media (min-width 768px) {
		padding: 0;
	}
}

.l__half {
	@media (min-width: 768px) {
		width: 45%;
	}
}
