<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5S3X28"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->


		<main role="main" class="main__container">
			{{ content }}
		</main>


		{% unless page.title == "404" %}
			{% include footer.html %}
		{% endunless %}

		<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
		<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
	</body>
</html>
